@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Smooch&family=Ubuntu:wght@300&display=swap');

.navbar-brand {
    color: #e7dce2;
    font-size: 3rem;
    font-family: 'Smooch', cursive;
}

.navbar-brand:hover {
    color: #e7dce2;

}

.fa-utensils {
    color: #e7dce2;
}

.custom-navbar {
    background-color: #880e4f;
}

.nav-a-custom {
    font-family: 'Smooch', cursive;
    color: white;
    font-weight: lighter;
}

.nav-a-custom:hover {
    color: #e7dce2 !important;
    cursor: pointer;
    border-bottom: 1px solid #e7dce2;
}

.a-active {
    border-bottom: 2px solid #37474F;
}

.profile-card {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.63);
    margin-top: 20px;
    height: 350px;
    width: 300px;
}

.profile-card .btn {
    color: white;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 7px 20px;
}

.profile-card .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;

}

.profile-card .card-img-block img {
    transition: all 0.4s ease-in-out;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
}

.profile-card .card-img-block img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.profile-card h5 {
    margin-left: 35px;
    color: #880e4f;
    /* color: #4E5E30; */
    font-weight: 600px;
}

.profile-card p {
    font-size: 14px;
    font-weight: 300px;
}

.profile-card .btn-primary {

    transition: all 0.1s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
    background-color: #880e4f;
    border-color: #880e4f;
}

.btn-primary>.btn-buffet {
    text-decoration: none;
}

.profile-card .btn-primary:hover {

    cursor: pointer;
    transform: scale(1.06);
}

/* @media (min-width:992) {
    .profile-card-1 {
        margin-left: 53px;
    }

    .profile-card-2 {
        margin-left: 53px;
    }

    .profile-card-3 {
        margin-left: 53px;
    }
} */
.profile-card-1 {
    margin-left: 53px;
}

.profile-card-2 {
    margin-left: 53px;
}

.profile-card-3 {
    margin-left: 53px;
}

.card-custom {
    position: relative;

}

.fa-utensils-card {
    color: #880e4f;
    position: absolute;
    top: 5px;
}

.footer {
    position: relative;
    bottom: 0%;
    height: 230px;
    background-color: #880e4f;
}

.footer-item {
    margin-left: 50px;
    font-size: smaller;
    font-weight: lighter;
    color: #e7dce2;
    list-style: none;
}

.footer h2 {
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 30px;
    margin-left: 81px;
    color: #e7dce2;
}

.bi-facebook,
.bi-twitter,
.bi-whatsapp,
.bi-instagram {
    color: #e7dce2;
    margin-left: 7px;
}

.bi-facebook,
.bi-twitter,
.bi-whatsapp,
.bi-instagram:hover {
    cursor: pointer;
}

.bi-facebook {
    margin-left: 82px;
}

#home-link {
    text-decoration: none;
    color: #e7dce2;
}