body {
    background-color: rgb(61, 28, 28);
}

* {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    justify-content:flex-end;
    align-items:flex-end;
    height: 400px;
    width: 100vw;
    background-color: rgb(255, 89, 0);
    border: 3px solid black;
}

.flex-container {
    background-color: yellow;
    border: 1px solid black;
    height: 300px;
    width: 100vw;
}

.flex-1 {
    margin: 3px;
    width: 200px;
    height: 100px;
    border: 1px solid black;
    background-color: lightgray;

}

.flex-2 {
    margin: 3px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: lightgray;
}

.flex-3 {
    margin: 3px;
    height: 300px;
    width: 200px;
    border: 1px solid black;
    background-color: lightgray;
}